@using Migrantes.Models.DTO
@using Migrantes.ViewModels
@model Migrantes.ViewModels.FiadorViewModel

@{
    ViewData["Title"] = "Formulario para crear fiador";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> oSexos = ViewBag.Sexos;
    List<FiadorViewModel> FiadorDisponible = ViewBag.ListadoFiador;
    List<DocumentosPersonaDTO> NombreDeLaPersona = ViewBag.NombresPersona;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Asset" media="all">


<!--Si la persona seleccionada no tiene un fiador creado,
se muestra un formulario para crearlo.-->
@if (TempData["msjSinGuardar"] != null)
{

    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="font-size:large;font-family:Helvetica">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg> &nbsp;@TempData["msjSinGuardar"]
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span arie-hidden="true">&times;</span>
        </button>
    </div>
}

@*

    <div class="row justify-content-center">
    <form style="font-family:Helvetica" class="form-group" asp-controller="Fiador" asp-action="GuardarFiador" method="post" id="frm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="per_codigo_id" hidden value="@ViewBag.IdPersona" />
    <div class="form-group">
    <input type="hidden" asp-for="per_codigo_id" class="form-control text-center" />
    </div>

    <div class="row mb-2 justify-content-center">
    <div class="col-sm-4">
    <strong style="color:hsl(200, 18%, 46%)">
    <label class="form-group row justify-content-center mb-0" asp-for="PrimerNombreDelFiador"></label>
    </strong>
    <input type="text" asp-for="PrimerNombreDelFiador" class="form-control" />
    <span asp-validation-for="PrimerNombreDelFiador" class="text-danger"></span>
    </div>
    <div class="col-sm-4">
    <strong style="color:hsl(200, 18%, 46%)">
    <label class="form-group row justify-content-center mb-0" asp-for="SegundoNombreDelFiador"></label>
    </strong>
    <input type="text" asp-for="SegundoNombreDelFiador" class="form-control" />
    <span asp-validation-for="SegundoNombreDelFiador" class="text-danger"></span>
    </div>
    </div>
    <br />

    <div class="row mb-2 justify-content-center">
    <div class="col-sm-8">
    <strong style="color:hsl(200, 18%, 46%)">
    <label class="form-group row justify-content-center mb-0" asp-for="ApellidosDelFiador"></label>
    </strong>
    <input type="text" asp-for="ApellidosDelFiador" class="form-control" />
    <span asp-validation-for="ApellidosDelFiador" class="text-danger"></span>
    </div>

    </div>
    <br />

    <div class="row mb-2 justify-content-center">
    <div class="col-sm-4">
    <strong style="color:hsl(200, 18%, 46%)">
    <label class="form-group row justify-content-center mb-0" asp-for="FechaNacimientoDelFiador"></label>
    </strong>
    <input type="date" asp-for="FechaNacimientoDelFiador" class="form-control" />
    <span asp-validation-for="FechaNacimientoDelFiador" class="text-danger"></span>
    </div>
    <div class="col-sm-4">
    <strong style="color:hsl(200, 18%, 46%)">
    <label class="form-group row justify-content-center mb-0" asp-for="PaisNacimientoDelFiador"></label>
    </strong>
    <input type="text" asp-for="PaisNacimientoDelFiador" class="form-control" />
    <span asp-validation-for="PaisNacimientoDelFiador" class="text-danger"></span>
    </div>
    </div>

    <br />
    <div class="row mb-2 justify-content-center">
    <div class="col-sm-4">
    <strong style="color:hsl(200, 18%, 46%)">
    <label class="form-group row justify-content-center mb-0" asp-for="SexoDelFiador"></label>
    </strong>
    <select class="form-control" asp-for="SexoDelFiador" name="SexoDelFiador" asp-items="@oSexos">
    </select>
    <span asp-validation-for="SexoDelFiador" class="text-danger"></span>
    </div>
    <div class="col-sm-4">
    <strong style="color:hsl(200, 18%, 46%)">
    <label class="form-group row justify-content-center mb-0" asp-for="EmailFiador"></label>
    </strong>
    <input type="email" asp-for="EmailFiador" class="form-control" />
    <span asp-validation-for="EmailFiador" class="text-danger"></span>
    </div>
    </div>
    <br />

    <div class="row mb-2 justify-content-center">
    <div class="col-sm-4">
    <strong style="color:hsl(200, 18%, 46%)">
    <label class="form-group row justify-content-center mb-0" asp-for="TelefonoFiador"></label>
    </strong>
    <input type="number" asp-for="TelefonoFiador" class="form-control" />
    <span asp-validation-for="TelefonoFiador" class="text-danger"></span>
    </div>
    <div class="col-sm-4">
    <strong style="color:hsl(200, 18%, 46%)">
    <label class="form-group row justify-content-center mb-0" asp-for="TelefonoAlternoFiador"></label>
    </strong>
    <input type="number" asp-for="TelefonoAlternoFiador" class="form-control" />
    <span asp-validation-for="TelefonoAlternoFiador" class="text-danger"></span>
    </div>
    </div>
    <br />

    <div class="row mb-2 justify-content-center">
    <div class="col-sm-2">
    <strong style="color:hsl(200, 18%, 46%)">
    <label class="form-group row justify-content-center mb-0" asp-for="NumCartasPersonales"></label>
    </strong>
    <input type="number" asp-for="NumCartasPersonales" class="form-control" />
    <span asp-validation-for="NumCartasPersonales" class="text-danger"></span>
    </div>
    <div class="col-sm-2">
    <strong style="color:hsl(200, 18%, 46%)">
    <label class="form-group row justify-content-center mb-0" asp-for="NumCartasFamiliares"></label>
    </strong>
    <input type="number" asp-for="NumCartasFamiliares" class="form-control" />
    <span asp-validation-for="NumCartasFamiliares" class="text-danger"></span>
    </div>
    <div class="col-sm-4">
    <strong style="color:hsl(200, 18%, 46%)">
    <label class="form-group row justify-content-center mb-2" asp-for="EntregoRecibo_Agua_o_Luz"></label>
    </strong>
    <center>
    @Html.CheckBoxFor(m => m.EntregoRecibo_Agua_o_Luz)
    </center>
    </div>
    </div>

    <br />
    <div style="width:100%;padding:0 25% 0 25%" class="form-group">
    <input type="submit" value="Guardar fiador" class="btn btn-success btn-block" />
    </div>
    </form>
    </div>


    *@


@*
    <ul>
    <li>
    <strong>@Html.ActionLink("Menú principal", "Personas", "Personas")</strong>
    </li>
    </ul>*@



@*<div class="row">
    <div class="col" style="text-align:left">
    <div class="p-1 shadow-2 rounded-3 mb-2" style="font-family:Helvetica;border-radius:9px;">
    <h2 class="text-primary"><strong>@ViewData["Title"]</strong></h2>
    </div>
    </div>
    <div class="col" style="text-align:right">
    <a class="btn btn-outline-primary" style="justify-items:right;" asp-controller="Personas" asp-action="Personas">Regresar a la lista</a>
    </div>
    </div>
    <hr>*@




<!-- Formulario crear fiador -->
<form class="form-group" asp-controller="Fiador" asp-action="GuardarFiador" method="post" id="frm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input hidden asp-for="per_codigo_id" value="@ViewBag.IdPersona" />
    <div class="form-group">
        <input type="hidden" asp-for="per_codigo_id" class="form-control text-center" />
    </div>
    <section class="w-full px-8 py-16 bg-gray-100 xl:px-8">
        <div class="max-w-5xl mx-auto">
            <div class="flex flex-col items-center md:flex-row">
                <div class="w-full space-y-5 md:w-3/5 md:pr-2">
                    <p class="font-medium text-blue-500 uppercase">Formulario para agregar al fiador</p>
                    <h2 class="text-2xl font-extrabold leading-none text-black sm:text-3xl md:text-5xl">
                        Migrantes APP.
                    </h2>
                    <p class="text-xl text-gray-600 md:pr-16">Powered by Sourcing-Corp &copy;</p>
                    <br />
                    <span asp-validation-for="PrimerNombreDelFiador" class="text-danger"></span>
                    <br />
                    <span asp-validation-for="SegundoNombreDelFiador" class="text-danger"></span>
                    <br />
                    <span asp-validation-for="ApellidosDelFiador" class="text-danger"></span>
                    <br />
                    <span asp-validation-for="FechaNacimientoDelFiador" class="text-danger"></span>
                    <br />
                    <span asp-validation-for="SexoDelFiador" class="text-danger"></span>
                    <br />
                    <span asp-validation-for="TelefonoFiador" class="text-danger"></span>
                    <br />
                    <span asp-validation-for="NumCartasPersonales" class="text-danger"></span>
                    <br />
                    <span asp-validation-for="NumCartasFamiliares" class="text-danger"></span>
                    <br />
                    <span asp-validation-for="EntregoRecibo_Agua_o_Luz" class="text-danger"></span>
                </div>

                <div class="w-full mt-16 md:mt-0 md:w-4/5">
                    @foreach (var item in NombreDeLaPersona)
                    {
                        <div id="TituloPer" data-bs-toggle="tooltip" data-bs-placement="top" title="Persona seleccionada">
                            <center>
                                <img src="~/persona.png" width="50" height="50" />
                                <h3 class="text-dark"><strong>@item.per_primer_nom @item.per_segundo_nom @item.per_primer_ape @item.per_segundo_ape</strong></h3>
                            </center>
                        </div>
                   
                    }
                          <br />
                    <!-- Notificación SC -->
                    <div style="justify-content:center;display:flex;align-items:center;font-family:Helvetica" class="mb-2">
                        <div class="toast" data-delay="4000" style="border:thin;color:blue;border-radius: 9px;" role="alert" aria-live="assertive" aria-atomic="true">
                            <div style="background:#007bff" class="toast-header">
                                <img src="~/img/scblancopeque-200x91.png" style="width:10%;height:10%" class="rounded mr-2" alt="..." />
                                <strong class="mr-auto text-white">Notificación SC</strong>
                                <small class="text-white">justo ahora</small>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body">
                                <h4 class="text-primary text-center" style="font-size:1.5rem">
                                    Recuerda que los campos en
                                    <strong style="color:grey">*</strong>
                                    son requeridos.
                                </h4>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="relative z-10 h-auto p-8 py-10 overflow-hidden bg-white border-b-2 border-gray-300 rounded-lg shadow-2xl px-7">
                        <div class="row">
                            <div class="col-6">
                                <label>* Primer nombre</label>
                                <input type="text" asp-for="PrimerNombreDelFiador" class="block w-full px-4 py-2 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Obligatorio">

                                <label>* Apellidos </label>
                                <input type="text" asp-for="ApellidosDelFiador" class="block w-full px-4 py-2 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Obligatorio">

                                <label>* Género</label>
                                <select asp-for="SexoDelFiador" asp-for="SexoDelFiador" name="SexoDelFiador" asp-items="@oSexos" class="block w-full px-4 py-2 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none">   </select>

                                <label>* Teléfono </label>
                                <input asp-for="TelefonoFiador" type="number" class="block w-full px-4 py-2 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Obligatorio">

                                <label> E-mail </label>
                                <input asp-for="EmailFiador" type="email" class="block w-full px-4 py-2 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="example@correo.com">

                                <label>* Número cartas familiares </label>
                                <input asp-for="NumCartasFamiliares" type="number" class="block w-full px-4 py-2 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Opcional">
                            </div>

                            <div class="col-6">
                                <label>* Segundo nombre</label>
                                <input asp-for="SegundoNombreDelFiador" type="text" class="block w-full px-4 py-2 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Obligatorio">

                                <label>* Fecha de nacimiento </label>
                                <input asp-for="FechaNacimientoDelFiador" type="date" class="block w-full px-4 py-2 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none">

                                <label>* País de nacimiento</label>
                                <input asp-for="PaisNacimientoDelFiador" type="text" class="block w-full px-4 py-2 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Opcional">

                                <label> Teléfono alternativo </label>
                                <input type="number" class="block w-full px-4 py-2 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Opcional">

                                <label>* Número cartas personales </label>
                                <input asp-for="NumCartasPersonales" type="number" class="block w-full px-4 py-2 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Opcional">

                                <label> Entrego recibo Agua o Luz?</label>
                                <input asp-for="EntregoRecibo_Agua_o_Luz" type="checkbox" class="block w-full px-4 py-2 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Opcional">
                            </div>
                        </div>
                        <div class="block">
                            <button name="Guardar fiador" value="Guardar fiador" class="w-full px-3 py-4 font-medium text-white bg-blue-600 rounded-lg">Crear fiador</button>
                        </div>
                        <p class="w-full mt-4 text-sm text-center text-gray-500">Desea regresar al menu principal? <a asp-controller="Personas" asp-action="Personas" class="text-blue-500 underline">Listado de personas</a></p>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<!-- AlpineJS Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.0/alpine.js"></script>

@*
<caption>
    <strong class="text-success">
        Formulario para registro del fiador.
        <br /><strong class="text-danger">Powered by</strong><strong style="color:black;font-family:Helvetica">--Sourcing-Corp &copy;--</strong>
    </strong>
</caption>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/generic.js"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <script>
        function Guardar() {
            var frm = document.getElementById("frm");
            MostrarModal().then(res => {
                if (res.value) {
                    frm.submit();
                    MostrarSuccess();
                }
            })
        }


        $(document).ready(function() {
            $('.toast').toast('show');
        });

        $('.toast').toast(option)
    </script>
    }

