@model Migrantes.Models.Entities.Persona

@{
    ViewData["Title"] = "Detalles de la persona";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<ul>
    <li>
    <strong>@Html.ActionLink("Menú principal", "Personas", "Personas")</strong>
    </li>
    </ul>*@

<div class="row">
    <div class="col" style="text-align:left">
        <div class="p-1 shadow-2 rounded-3 mb-2" style="font-family:Helvetica;border-radius: 9px;">
            <h2 class="text-primary"><strong>@ViewData["Title"]</strong></h2>
        </div>
    </div>
    <div class="col" style="text-align:right">
        <a class="btn btn-outline-primary" style="justify-items:right;" asp-controller="Personas" asp-action="Personas">Regresar a la lista</a>
    </div>
</div>
<hr>


<div class="card-group" style="font-family:Helvetica">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_codigo_alternativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_codigo_alternativo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_letra_indice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_letra_indice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_primer_ape)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_primer_ape)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_segundo_ape)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_segundo_ape)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_apellido_cas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_apellido_cas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_primer_nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_primer_nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_segundo_nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_segundo_nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_otros_nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_otros_nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_nombre_usual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_nombre_usual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_codpai_nacionalidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_codpai_nacionalidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_codpai_nacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_codpai_nacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_sexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_edad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_edad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_fecha_nac)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_fecha_nac)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_profesion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_profesion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_estado_civil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_estado_civil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_codmun_nac)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_codmun_nac)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_coddep_nac)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_coddep_nac)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_lugar_nac)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_lugar_nac)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_email_interno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_email_interno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_telefono_movil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_telefono_movil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_telefono_interno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_telefono_interno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_apellidos_nombres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_apellidos_nombres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_observaciones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_observaciones)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_codpai_digita)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_codpai_digita)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_usuario_grabacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_usuario_grabacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_fecha_grabacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_fecha_grabacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_usuario_modificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_usuario_modificacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.per_fecha_modificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.per_fecha_modificacion)
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.per_codigo_id">&nbsp;Editar</a><strong> |</strong>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.per_codigo_id">&nbsp;Eliminar</a><strong> |</strong>
    <hr>
</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
