@using Migrantes.Models.DTO
@model Migrantes.Models.Entities.Persona

@{
    ViewData["Title"] = "Editar persona";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> SexosSelect = ViewBag.SexoEditar;
    List<SelectListItem> EstCivilSelect = ViewBag.EstCivilEditar;
}

<!-- Sidenav -->
<div id="mySidenav" class="sidenav">
    <a class="d-inline-block" asp-controller="Documentos" asp-action="DocumentosDisponibles" asp-route-id="@ViewBag.IdPersona" id="about">
       Documentos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<svg id="debit-card-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon line" width="2rem" height="2rem"><path id="primary" d="M4,5H20a1,1,0,0,1,1,1V18a1,1,0,0,1-1,1H4a1,1,0,0,1-1-1V6A1,1,0,0,1,4,5ZM17,15H13M9,15H7M21,9H3" style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path></svg>
    </a>
    <a class="d-inline-block" asp-controller="DatosFamiliares" asp-action="FamiliaresDisponibles" asp-route-id="@ViewBag.IdPersona" id="blog">
        Familiares  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<svg id="minus-user-left-8-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon line" width="2rem" height="2rem"><path id="primary" d="M8.54,13A6,6,0,0,1,7.08,8,6,6,0,0,1,19,9a5.94,5.94,0,0,1-1.34,3.77,1,1,0,0,0,.28,1.45A7,7,0,0,1,21,20a1,1,0,0,1-1,1H7" style="fill: none; stroke: rgb(254, 254, 254); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path><line id="primary-2" data-name="primary" x1="3" y1="17" x2="7" y2="17" style="fill: none; stroke: rgb(254, 254, 254); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></line></svg>
    </a>
    <a class="d-inline-block" asp-controller="Fiador" asp-action="FiadorDisponible" asp-route-id="@ViewBag.IdPersona" id="projects">
        Fiador  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<svg id="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon line" width="2rem" height="2rem"><polygon id="primary" points="12 4 9.22 9.27 3 10.11 7.5 14.21 6.44 20 12 17.27 17.56 20 16.5 14.21 21 10.11 14.78 9.27 12 4" style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polygon></svg>
    </a>
</div>

<!-- Formulario para editar a la persona -->
<div class="box" style="margin-left:52px;">
    <div class="container-fluid">
        <div class="row justify-content-center" style="align-items:baseline;">
            <img src="~/persona.png" width="24" height="24" /> &nbsp;
            <div class="p-1 shadow-2 rounded-3 mb-2" style="font-family:Helvetica;border-radius: 9px;">
                <h2 class="text-primary"><strong>@ViewData["Title"]</strong></h2>
            </div>
        </div>
        <hr>
        <br />
        <div class="row justify-content-center" style="font-family:Helvetica;">
            <div style="text-align:center" class="offset-sm-0">
                <form style="font-family:Helvetica;" asp-action="Edit" id="frm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="per_codigo_id" />

                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_primer_nom" class="control-label"></label>
                                </strong>
                                <input asp-for="per_primer_nom" class="form-control text-center" />
                                <span asp-validation-for="per_primer_nom" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_segundo_nom" class="control-label"></label>
                                </strong>
                                <input asp-for="per_segundo_nom" class="form-control text-center" />
                                <span asp-validation-for="per_segundo_nom" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_primer_ape" class="control-label"></label>
                                </strong>
                                <input asp-for="per_primer_ape" class="form-control text-center" />
                                <span asp-validation-for="per_primer_ape" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_segundo_ape" class="control-label"></label>
                                </strong>
                                <input asp-for="per_segundo_ape" class="form-control text-center" />
                                <span asp-validation-for="per_segundo_ape" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_apellido_cas" class="control-label"></label>
                                </strong>
                                <input asp-for="per_apellido_cas" class="form-control text-center" />
                                <span asp-validation-for="per_apellido_cas" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_fecha_nac" class="control-label"></label>
                                </strong>
                                <input asp-for="per_fecha_nac" class="form-control text-center" />
                                <span asp-validation-for="per_fecha_nac" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_codpai_nacimiento" class="control-label"></label>
                                </strong>
                                <input asp-for="per_codpai_nacimiento" class="form-control text-center" />
                                <span asp-validation-for="per_codpai_nacimiento" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_sexo" class="control-label"></label>
                                </strong>
                                <select asp-for="per_sexo" asp-items="@SexosSelect" class="form-control text-center"> </select>
                                <span asp-validation-for="per_sexo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_estado_civil" class="control-label"></label>
                                </strong>
                                <select asp-for="per_estado_civil" asp-items="@EstCivilSelect" class="form-control text-center"> </select>
                                <span asp-validation-for="per_estado_civil" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_codpai_nacionalidad" class="control-label"></label>
                                </strong>
                                <input asp-for="per_codpai_nacionalidad" class="form-control text-center" />
                                <span asp-validation-for="per_codpai_nacionalidad" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_profesion" class="control-label"></label>
                                </strong>
                                <input asp-for="per_profesion" class="form-control text-center" />
                                <span asp-validation-for="per_profesion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_telefono_movil" class="control-label"></label>
                                </strong>
                                <input asp-for="per_telefono_movil" class="form-control text-center" />
                                <span asp-validation-for="per_telefono_movil" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_telefono_interno" class="control-label"></label>
                                </strong>
                                <input asp-for="per_telefono_interno" class="form-control text-center" />
                                <span asp-validation-for="per_telefono_interno" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_email" class="control-label"></label>
                                </strong>
                                <input asp-for="per_email" class="form-control text-center" />
                                <span asp-validation-for="per_email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_email_interno" class="control-label"></label>
                                </strong>
                                <input asp-for="per_email_interno" class="form-control text-center" />
                                <span asp-validation-for="per_email_interno" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_observaciones" class="control-label"></label>
                                </strong>
                                <input asp-for="per_observaciones" class="form-control text-center" />
                                <span asp-validation-for="per_observaciones" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_usuario_grabacion" class="control-label"></label>
                                </strong>
                                <input asp-for="per_usuario_grabacion" class="form-control text-center" />
                                <span asp-validation-for="per_usuario_grabacion" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <strong style="color:#424242">
                                    <label asp-for="per_fecha_grabacion" class="control-label"></label>
                                </strong>
                                <input asp-for="per_fecha_grabacion" class="form-control text-center" />
                                <span asp-validation-for="per_fecha_grabacion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </form>
                <br />
                <div class="form-group">
                    <input type="button" onclick="Editar()" value="Actualizar información" class="btn btn-success" />
                    <br />
                    <br />
                    <a class="btn btn-outline-primary" asp-controller="Personas" asp-action="Personas">Regresar a la lista</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/generic.js"></script>
    <script src="~/js/sweetalert.js"></script>

    <script>
        function Editar() {
            var frm = document.getElementById("frm");
            MostrarModalEdit().then(res => {
                if (res.value) {
                    frm.submit();
                    MostrarSuccessEdit();
                }
            })
        }

        $(document).ready(function() {
            $('.toast').toast('show');
        });

        $('.toast').toast(option)
    </script>
}