@using Migrantes.Models.DTO
@using Migrantes.ViewModels
@model Migrantes.ViewModels.DatosFamiliaresViewModel

@{
    ViewData["TitleDatosFamiliares"] = "Datos de familiares";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<DatosFamiliaresViewModel> ListDatosFamiliares = ViewBag.ListDatosFam;
    List<PersonaDTO> NombreDeLaPersona = ViewBag.NombresPersona;
}

<!--Si la persona seleccionada no posee datos familiares, se muestra una alerta y opción para agregarlos -->
@foreach (var item in NombreDeLaPersona)
{
    @if (TempData["alertaDatosFamiliares1"] != null && TempData["alertaDatosFamiliares2"] != null)
    {
        <div style="justify-content:center;display:flex;align-items:center" class="mb-2">
            <div class="toast" data-delay="90000000" style="border:thin;color:blue;border-radius: 9px;" role="alert" aria-live="assertive" aria-atomic="true">
                <div style="background:#ffc107" class="toast-header">
                    <img src="~/img/scblancopeque-200x91.png" style="width:10%;height:10%" class="rounded mr-2" alt="..." />
                    <strong class="mr-auto text-white">Notificación SC</strong>
                    <small class="text-white">justo ahora</small>
                </div>
                <div class="toast-body">
                    <h4 class="text-primary text-center">
                        <strong style="font-family:Helvetica, sans-serif;font-size:1.5rem;"> @TempData["alertaDatosFamiliares1"] </strong>
                        <a class="text-center text-dark"><strong>@item.per_primer_nom @item.per_primer_ape @item.per_segundo_ape </strong></a>
                        <strong style="font-family:Helvetica, sans-serif;font-size:1.5rem;"> @TempData["alertaDatosFamiliares2"] </strong>
                    </h4>
                </div>
            </div>
        </div>
        <br />
        <br />
        <center>
            <div class="form-group">
                <a class="btn btn-primary" asp-controller="DatosFamiliares" asp-action="CrearDatosFamiliares" asp-route-id="@ViewBag.IdPersona">Agregar datos de familiares</a>
                <a class="btn btn-outline-primary" asp-controller="Personas" asp-action="Personas">Regresar a la lista</a>
            </div>
        </center>
    }

}
<!--Si la persona seleccionada posee datos familiares, se muestran las tarjetas -->
@foreach (var item in ListDatosFamiliares)
{

    <div class="row">

        <div class="col" style="text-align:left">
            <div class="p-1 shadow-2 rounded-3 mb-2" style="font-family:Helvetica;border-radius: 9px;">
                <h2 class="text-primary"><strong>@ViewData["TitleDatosFamiliares"]</strong></h2>
            </div>
        </div>
        <div class="col" style="text-align:right">
            <a class="btn btn-outline-primary" style="justify-items:right;" asp-controller="Personas" asp-action="Personas">Regresar a la lista</a>
        </div>
    </div>
    <hr>

    <div class="align-content-center" id="TituloPer" data-bs-toggle="tooltip" data-bs-placement="top" title="Persona seleccionada">
        <center>
            <img src="~/persona.png" width="50" height="50" />
            <h3 class="text-center text-dark"><strong>@item.per_primer_nom @item.per_primer_ape @item.per_segundo_ape </strong></h3>
        </center>
    </div>
    <br />
    <br />

    <div class="box">
        <div class="card" style="width:275px;box-shadow: 5px 10px 15px #888888;">
            <img src="~/Mujer.png" style="width:auto;height:auto;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><strong>Madre</strong></h5>
                <p class="card-text">@item.PrimerNombreDeLaMadre @item.SegundoNombreDeLaMadre @item.ApellidosDeLaMadre</p>

                <h5 class="card-title"><strong>Fecha de nacimiento</strong></h5>
                <p class="card-text">@item.FechaNacimientoDeLaMadre</p>

                <h5 class="card-title"><strong>Edad</strong></h5>
                <p class="card-text">@item.EdadDeLaMadre</p>

                <h5 class="card-title"><strong>País</strong></h5>
                <p class="card-text">@item.PaisNacimientoDeLaMadre</p>

                <h5 class="card-title"><strong>Profesión</strong></h5>
                <p class="card-text">@item.ProfesionDeLaMadre</p>

            </div>
        </div>

        <div class="card" style="width:275px;box-shadow: 5px 10px 15px #888888;">
            <img src="~/Hombre.png" style="width:auto;height:auto;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><strong>Padre</strong></h5>
                <p class="card-text">@item.PrimerNombreDelPadre @item.SegundoNombreDelPadre @item.ApellidosDelPadre</p>

                <h5 class="card-title"><strong>Fecha de nacimiento</strong></h5>
                <p class="card-text">@item.FechaNacimientoDelPadre</p>

                <h5 class="card-title"><strong>Edad</strong></h5>
                <p class="card-text">@item.EdadDelPadre</p>

                <h5 class="card-title"><strong>País</strong></h5>
                <p class="card-text">@item.PaisNacimientoDelPadre</p>

                <h5 class="card-title"><strong>Profesión</strong></h5>
                <p class="card-text">@item.ProfesionDelPadre</p>
            </div>
            <style>
                .box {
                    display: flex;
                    justify-content: space-evenly;
                }
            </style>
        </div>
    </div>
    <br />
    <br />
    <center>
        <form asp-action="ExportarDatosFamiliaresExcel" asp-controller="DatosFamiliares" id="FormChecks">
            <div class="form-group">
                 <a class="btn btn-primary" asp-controller="DatosFamiliares" asp-action="EditarDatosFamiliares" asp-route-id="@ViewBag.IdPersona"><i class="fa-solid fa-user-pen"></i>&nbsp;Editar</a>
                <a class="btn btn-danger" asp-controller="DatosFamiliares" asp-action="EliminarDatosFamiliares" asp-route-id="@ViewBag.IdPersona"><i class="fa-solid fa-trash-can"></i>&nbsp;Eliminar</a>
                <button type="button" class="btn btn-success btn-sm" value="Exportar data a Excel"
                    onclick="DescargarExcel()">
                    <i style="font-size:24px" class="fa">&#xf1c3;</i>&nbsp;Exportar data a Excel
                </button>
                <input type="checkbox" hidden checked name="nombrePropiedades" value="PrimerNombreDeLaMadre" />
                <input type="checkbox" hidden checked name="nombrePropiedades" value="SegundoNombreDeLaMadre" />
                <input type="checkbox" hidden checked name="nombrePropiedades" value="ApellidosDeLaMadre" />
                <input type="checkbox" hidden checked name="nombrePropiedades" value="FechaNacimientoDeLaMadre" />
                <input type="checkbox" hidden checked name="nombrePropiedades" value="EdadDeLaMadre" />
                <input type="checkbox" hidden checked name="nombrePropiedades" value="PaisNacimientoDeLaMadre" />
                <input type="checkbox" hidden checked name="nombrePropiedades" value="ProfesionDeLaMadre" />
                <input type="checkbox" hidden checked name="nombrePropiedades" value="PrimerNombreDelPadre" />
                <input type="checkbox" hidden checked name="nombrePropiedades" value="SegundoNombreDelPadre" />
                <input type="checkbox" hidden checked name="nombrePropiedades" value="ApellidosDelPadre"/>
                <input type="checkbox" hidden checked name="nombrePropiedades" value="FechaNacimientoDelPadre" />
                <input type="checkbox" hidden checked name="nombrePropiedades" value="EdadDelPadre" />
                <input type="checkbox" hidden checked name="nombrePropiedades" value="PaisNacimientoDelPadre" />
                <input type="checkbox" hidden checked name="nombrePropiedades" value="ProfesionDelPadre" />
            </div>
        </form>
    </center>

}

@section Scripts {

    <script>
        function DescargarExcel() {
            var frmReporte = document.getElementById("FormChecks");
            frmReporte.submit();
        }

        $(document).ready(function() {
            $('.toast').toast('show');
        });

        $('.toast').toast(option)
    </script>
}
