@using Migrantes.ViewModels
@model Migrantes.Models.Entities.DatosFamiliares

@{
    ViewData["TitleEditarDatosFamiliares"] = "Editar datos de familiares";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<DatosFamiliaresViewModel> ListDatosFamiliares = ViewBag.ListDatosFam;
}

<div class="row">
    <div class="col" style="text-align:left">
        <div class="p-1 shadow-2 rounded-3 mb-2" style="font-family:Helvetica;border-radius: 9px;">
            <h2 class="text-primary"><strong>@ViewData["TitleEditarDatosFamiliares"]</strong></h2>
        </div>
    </div>
    <div class="col" style="text-align:right">
        <a class="btn btn-outline-primary" style="justify-items:right;" asp-controller="Personas" asp-action="Personas">Regresar a la lista</a>
    </div>
</div>
<hr>



@*Titulo de la persona seleccionada*@
@foreach (var item in ListDatosFamiliares)
{
    <div class="align-content-center" id="TituloPer">
        <center>
            <img src="~/persona.png" width="50" height="50" />
            <h3 class="text-center text-dark"><strong>@item.per_primer_nom @item.per_primer_ape @item.per_segundo_ape</strong></h3>
        </center>
    </div>
    <br />
    <br />
}

<form asp-action="ActualizarFamiliaresEditados" asp-controller="DatosFamiliares" method="post" id="frm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.per_codigo_id" />
    <div class="form-group">
        <input type="hidden" asp-for="per_codigo_id" class="form-control text-center" />
        <input type="hidden" asp-for="Id_DatosFamiliares" class="form-control text-center" />
    </div>
    <div class="box">
        <div class="card" style="width:275px;box-shadow: 5px 10px 15px #888888;">
            <img src="~/Mujer.png" style="width:auto;height:auto;" class="card-img-top" alt="...">
            <div class="card-body">

                <h5 class="card-title">Primer nombre</h5>
                <input  asp-for="PrimerNombreDeLaMadre" class="form-control text-center" />
                <span asp-validation-for="PrimerNombreDeLaMadre" class="text-danger"></span>
                <br />

                <h5 class="card-title">Segundo nombre</h5>
                <input  asp-for="SegundoNombreDeLaMadre" class="form-control text-center" />
                <span asp-validation-for="SegundoNombreDeLaMadre" class="text-danger"></span>
                <br />

                <h5 class="card-title">Apellidos</h5>
                <input  asp-for="ApellidosDeLaMadre" class="form-control text-center" />
                <span asp-validation-for="ApellidosDeLaMadre" class="text-danger"></span>
                <br />

                <h5 class="card-title">Fecha de nacimiento</h5>
                <input  asp-for="FechaNacimientoDeLaMadre" class="form-control text-center" />
                <span asp-validation-for="FechaNacimientoDeLaMadre" class="text-danger"></span>
                <br />

                <h5 class="card-title">Pais de nacimiento</h5>
                <input  asp-for="PaisNacimientoDeLaMadre" class="form-control text-center" />
                <span asp-validation-for="PaisNacimientoDeLaMadre" class="text-danger"></span>
                <br />

                <h5 class="card-title">Profesión</h5>
                <input  asp-for="ProfesionDeLaMadre" class="form-control text-center" />
                <span asp-validation-for="ProfesionDeLaMadre" class="text-danger"></span>
                <br />
            </div>
        </div>

        <div class="card" style="width:275px;box-shadow: 5px 10px 15px #888888;">
            <img src="~/Hombre.png" style="width:auto;height:auto;" class="card-img-top" alt="...">
            <div class="card-body">

                <h5 class="card-title">Primer nombre</h5>
                <input  asp-for="PrimerNombreDelPadre" class="form-control text-center" />
                <span asp-validation-for="PrimerNombreDelPadre" class="text-danger"></span>
                <br />

                <h5 class="card-title">Segundo nombre</h5>
                <input  asp-for="SegundoNombreDelPadre" class="form-control text-center" />
                <span asp-validation-for="SegundoNombreDelPadre" class="text-danger"></span>
                <br />

                <h5 class="card-title">Apellidos</h5>
                <input  asp-for="ApellidosDelPadre" class="form-control text-center" />
                <span asp-validation-for="ApellidosDelPadre" class="text-danger"></span>
                <br />

                <h5 class="card-title">Fecha de nacimiento</h5>
                <input  asp-for="FechaNacimientoDelPadre" class="form-control text-center" />
                <span asp-validation-for="FechaNacimientoDelPadre" class="text-danger"></span>
                <br />

                <h5 class="card-title">Pais de nacimiento</h5>
                <input  asp-for="PaisNacimientoDelPadre" class="form-control text-center" />
                <span asp-validation-for="PaisNacimientoDelPadre" class="text-danger"></span>
                <br />

                <h5 class="card-title">Profesión</h5>
                <input  asp-for="ProfesionDelPadre" class="form-control text-center" />
                <span asp-validation-for="ProfesionDelPadre" class="text-danger"></span>
                <br />
            </div>
            <style>
                .box {
                    display: flex;
                    justify-content: space-evenly;
                }
            </style>
        </div>
    </div>
    <br />
    <center>
        <div class="form-group">
            <input type="button" onclick="Editar()" value="Actualizar información" class="btn btn-success" />
        </div>
    </center>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/generic.js"></script>
    <script src="~/js/sweetalert.js"></script>

    <script>
        function Editar() {
            var frm = document.getElementById("frm");
            MostrarModalEdit().then(res => {
                if (res.value) {
                    frm.submit();
                    MostrarSuccessEdit();
                }
            })
        }

        $(document).ready(function() {
            $('.toast').toast('show');
        });

        $('.toast').toast(option)
    </script>
}