@using Migrantes.Models.DTO
@using Migrantes.ViewModels
@model IEnumerable<DatosFamiliaresDTO>

@{
    ViewData["Title"] = "Familiares disponibles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<DatosFamiliaresDTO> FamiliaresPersona = ViewBag.ListDatosFam;
    List<PersonaDTO> NombreDeLaPersona = ViewBag.NombresPersona;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<!--Alerta: familiar guardado exitosamente-->
@if (TempData["alertaFamiliarActualizadoOK"] != null)
{
    <div style="justify-content:center;display:flex;align-items:center" class="mb-2">
        <div class="toast" data-delay="4000" style="border:thin;color:blue;border-radius: 9px;" role="alert" aria-live="assertive" aria-atomic="true">
            <div style="background:#28a745" class="toast-header">
                <img src="~/img/scblancopeque-200x91.png" style="width:10%;height:10%" class="rounded mr-2" alt="..." />
                <strong class="mr-auto text-white">Notificación SC</strong>
                <small class="text-white">justo ahora</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <h4 class="text-primary text-center">
                    <strong style="font-family:Helvetica, sans-serif;font-size:1.5rem;"> @TempData["alertaFamiliarActualizadoOK"] </strong>
                </h4>
            </div>
        </div>
    </div>
}

<!--Si la persona seleccionada no tiene familiares,
se muestra una alerta y opción para agregar familiares-->
@if (TempData["alertaDatosFamiliares1"] != null)
{
    <div style="justify-content:center;display:flex;align-items:center" class="mb-2">
        <div class="toast" data-delay="90000000" style="border:thin;color:blue;border-radius: 9px;" role="alert" aria-live="assertive" aria-atomic="true">
            <div style="background:#ffc107" class="toast-header">
                <img src="~/img/scblancopeque-200x91.png" style="width:10%;height:10%" class="rounded mr-2" alt="..." />
                <strong class="mr-auto text-white">Notificación SC</strong>
                <small class="text-white">justo ahora</small>
            </div>
            @foreach (var item in NombreDeLaPersona)
            {
                <div class="toast-body">
                    <h4 class="text-primary text-center">
                        <strong style="font-family:Helvetica, sans-serif;font-size:1.5rem;"> @TempData["alertaDatosFamiliares1"] </strong>
                        <a class="text-center text-dark"><strong>@item.per_primer_nom @item.per_segundo_nom @item.per_primer_ape @item.per_segundo_ape</strong></a>
                        <strong style="font-family:Helvetica, sans-serif;font-size:1.5rem;"> @TempData["alertaDatosFamiliares2"] </strong>
                    </h4>
                </div>
            }
        </div>
    </div>
    <br />
    <br />
    <center>
        <div class="form-group">
            <a class="btn btn-primary" asp-controller="DatosFamiliares" asp-action="CrearDatosFamiliares" asp-route-id="@ViewBag.PersonaID">Agregar familiar</a>&nbsp;
            <a class="btn btn-outline-primary" asp-controller="Personas" asp-action="Personas">Regresar a la lista</a>
        </div>
    </center>
}

@*
<!--Alerta: documento guardado exitosamente-->
@if (TempData["alertaDocGuardadoOK"] != null)
{
    <div style="justify-content:center;display:flex;align-items:center" class="mb-2">
        <div class="toast" data-delay="6000" style="border:thin;color:blue;border-radius: 9px;" role="alert" aria-live="assertive" aria-atomic="true">
            <div style="background:#28a745" class="toast-header">
                <img src="~/img/scblancopeque-200x91.png" style="width:10%;height:10%" class="rounded mr-2" alt="..." />
                <strong class="mr-auto text-white">Notificación SC</strong>
                <small class="text-white">justo ahora</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <h4 class="text-primary text-center">
                    <strong style="font-family:Helvetica, sans-serif;font-size:1.5rem;"> @TempData["alertaDocGuardadoOK"] </strong>
                </h4>
            </div>
        </div>
    </div>
}

<!--Alerta: documento editado exitosamente-->
@if (TempData["alertaDocsEditadoOK"] != null)
{
    <div style="justify-content:center;display:flex;align-items:center" class="mb-2">
        <div class="toast" data-delay="6000" style="border:thin;color:blue;border-radius: 9px;" role="alert" aria-live="assertive" aria-atomic="true">
            <div style="background:#28a745" class="toast-header">
                <img src="~/img/scblancopeque-200x91.png" style="width:10%;height:10%" class="rounded mr-2" alt="..." />
                <strong class="mr-auto text-white">Notificación SC</strong>
                <small class="text-white">justo ahora</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <h4 class="text-primary text-center">
                    <strong style="font-family:Helvetica, sans-serif;font-size:1.5rem;"> @TempData["alertaDocsEditadoOK"] </strong>
                </h4>
            </div>
        </div>
    </div>
}*@

@*<!--Si la persona seleccionada ya tiene todos sus documentos,se muestra una alerta -->
@if (TempData["msjDocsTotales"] != null)
{
    <div style="justify-content:center;display:flex;align-items:center" class="mb-2">
        <div class="toast" data-delay="90000000" style="border:thin;color:blue;border-radius: 9px;" role="alert" aria-live="assertive" aria-atomic="true">
            <div style="background:#ffc107" class="toast-header">
                <img src="~/img/scblancopeque-200x91.png" style="width:10%;height:10%" class="rounded mr-2" alt="..." />
                <strong class="mr-auto text-white">Notificación SC</strong>
                <small class="text-white">justo ahora</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <h4 class="text-primary text-center">
                    <strong style="font-family:Helvetica, sans-serif;font-size:1.5rem;"> @TempData["msjDocsTotales"] </strong>
                </h4>
            </div>
        </div>
    </div>
}
*@


<!--Si la persona seleccionada tiene documentos,
se muestra tabla de los documentos disponibles-->
@if (Model.Count() > 0)
{
    <div class="row align-self-center">
        <div class="col">
            <div>
                <a class="btn btn-outline-primary" asp-controller="Personas" asp-action="Personas">Regresar a la lista</a>
            </div>
        </div>
        <div class="col-auto justify-content-center">
            <div class="text-center" style="font-family:Helvetica;">
                <h2 class="text-primary"><strong>@ViewData["Title"]</strong></h2>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
    <hr>

    @foreach (var item in NombreDeLaPersona)
    {
        <div class="align-content-left" id="TituloPer" data-bs-toggle="tooltip" data-bs-placement="top" title="Persona seleccionada">
            <center>
                <img src="~/persona.png" width="35" height="35" />
                <h3 class="text-center text-dark" style="font-size:20px;"><strong>@item.per_primer_nom @item.per_segundo_nom @item.per_primer_ape @item.per_segundo_ape</strong></h3>
            </center>
        </div>
    }
    <br />
    <br />

    <div class="card" style="font-family:Helvetica;box-shadow: 5px 10px 15px #888888;border-radius:5px">
        <div class="table-responsive text-nowrap">
            <form asp-action="ExportarDatosFamiliaresExcel" asp-controller="DatosFamiliares" id="FormChecks">
                <table class="table-light table-striped text-center table-hover table-md table-responsive-xl pre-scrollable">
                    <thead class="text-center" style="color:white">
                        <tr>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>

                                <input hidden type="checkbox" checked name="nombrePropiedades" value="DescripcionDelPariente" />
                                <input hidden type="checkbox" checked name="nombrePropiedades" value="PrimerNombreFamiliar" />
                                <input hidden type="checkbox" checked name="nombrePropiedades" value="SegundoNombreFamiliar" />
                                <input hidden type="checkbox" checked name="nombrePropiedades" value="ApellidosFamiliar" />
                                <input hidden type="checkbox" checked name="nombrePropiedades" value="FechaNacimientoDelFamiliar" />
                                <input hidden type="checkbox" checked name="nombrePropiedades" value="PaisNacimientoDelFamiliar" />
                                <input hidden type="checkbox" checked name="nombrePropiedades" value="EdadDelFamiliar" />
                                <input hidden type="checkbox" checked name="nombrePropiedades" value="ProfesionDelFamiliar" />
                                <input hidden type="checkbox" checked name="nombrePropiedades" value="TelefonoDelFamiliar" />
                                <input hidden type="checkbox" checked name="nombrePropiedades" value="TelefonoAlternativoFamiliar" />
                                <input hidden type="checkbox" checked name="nombrePropiedades" value="EmaiDelFamiliar" />
                                <input hidden type="checkbox" checked name="nombrePropiedades" value="FechaGrabacionDelFamiliar" />
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                                &nbsp;
                            </th>
                            <th>
                                &nbsp;
                            </th>
                            <th>
                                &nbsp;
                            </th>

                            <th>
                            </th>

                        <tr>
                            <th>
                                &nbsp;
                                <strong>
                                    Pariente
                                </strong>
                            </th>
                            <th>
                                &nbsp;
                                <strong>
                                    Primer nombre
                                </strong>
                            </th>
                            <th>
                                &nbsp;
                                <strong>
                                    Segundo nombre
                                </strong>
                            </th>
                            <th>
                                &nbsp;
                                <strong>
                                    Apellidos
                                </strong>
                            </th>
                            <th>
                                &nbsp;
                                <strong>
                                    Telefono
                                </strong>
                            </th>
                            <th>
                                &nbsp;
                                <strong>
                                    E-mail
                                </strong>
                            </th>

                            <th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>

                        </tr>
                    </thead>

                    <tbody class="table-light text-center">

                        @foreach (var item in Model)
                        {
                            <tr class="table">
                                <td>
                                    &nbsp;
                                    @Html.DisplayFor(x => item.DescripcionDelPariente)
                                </td>

                                <td>
                                    &nbsp;
                                    @Html.DisplayFor(x => item.PrimerNombreFamiliar)
                                </td>

                                <td>
                                    &nbsp;
                                    @Html.DisplayFor(x => item.SegundoNombreFamiliar)
                                </td>

                                <td>
                                    &nbsp;
                                    @Html.DisplayFor(x => item.ApellidosFamiliar)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.TelefonoDelFamiliar)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.EmaiDelFamiliar)
                                </td>

                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            <strong>
                                                Acciones
                                            </strong> <span class="caret"></span>
                                        </button>
                                       <ul class="dropdown-menu" style="background:rgba(0,0,0,0.4);">
                                            <a class="btn btn-success" asp-controller="DatosFamiliares" asp-action="EditarDatosFamiliares" asp-route-id="@item.DatosFamiliaresID"><i class="fa-solid fa-user-pen"></i>&nbsp;Editar</a>
                                            <a class="btn btn-secondary" asp-controller="DatosFamiliares" asp-action="DetallesDatosFamiliares" asp-route-id="@item.DatosFamiliaresID"><i class="fa-solid fa-file-lines"></i>&nbsp;Detalles</a>
                                            <a class="btn btn-danger" asp-controller="DatosFamiliares" asp-action="EliminarDatosFamiliares" asp-route-id="@item.DatosFamiliaresID"><i class="fa-solid fa-trash-can"></i>&nbsp;Eliminar</a>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <style type="text/css">
                        thead tr th {
                            position: relative;
                            top: 0;
                            z-index: 10;
                            background-color: #007bff;
                            font-family: Helvetica;
                        }

                        .table-responsive {
                            height: auto;
                        }
                    </style>
                </table>
            </form>
        </div>
    </div>
    <br />
    <br />

    <center>
        <div class="form-group">
            <a class="btn btn-primary" asp-controller="DatosFamiliares" asp-action="CrearDatosFamiliares" asp-route-id="@ViewBag.PersonaID">Agregar familiar nuevo</a>&nbsp;
            <button type="button" class="btn btn-success btn-sm" value="Exportar data a Excel"
                onclick="DescargarExcel()">
                <i style="font-size:24px" class="fa">&#xf1c3;</i>&nbsp;Exportar data a Excel
            </button>
        </div>
    </center>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/generic.js"></script>
    <script src="~/js/sweetalert.js"></script>
    <!-- AlpineJS Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.0/alpine.js"></script>

    <script>
        function DescargarExcel() {
            var frmReporte = document.getElementById("FormChecks");
            frmReporte.submit();
        }

        $(document).ready(function() {
            $('.toast').toast('show');
        });

        $('.toast').toast(option)
    </script>
}


