@using Migrantes.Models.DTO
@model Migrantes.Models.Entities.IdentidadPersona
@{
    ViewData["Title"] = "Formulario para documentos";
    ViewData["TitleCargaDocumentos"] = "Carga de archivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> TipoDocSelect = ViewBag.ListDoc;
    List<DocumentosPersonaDTO> DocumentosPersona = ViewBag.ListadoDocumentos;
}


<div class="row">
    <div class="col" style="text-align:left">
        <div class="p-1 shadow-2 rounded-3 mb-2" style="font-family:Helvetica;border-radius: 9px;">
            <h2 class="text-primary"><strong>@ViewData["Title"]</strong></h2>
        </div>
    </div>
    <div class="col" style="text-align:right">
        <a class="btn btn-outline-primary" style="justify-items:right;" asp-controller="Personas" asp-action="Personas">Regresar a la lista</a>
    </div>
</div>
<hr>

<div class="row justify-content-center" style="font-family:Helvetica;">
    <div style="text-align: center" class="col-md-4 offset-sm-0">
        <form asp-action="GuardarDoc" asp-controller="Documentos" method="post" enctype="multipart/form-data" id="frm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ide_codigo_id" value="@ViewBag.IdPersona" />

            @* //Presentamos en la vista el ID de la persona seleccionada*@
            <div class="form-group">
                <input type="hidden" asp-for="ide_id_persona" class="form-control" value="@ViewBag.Idpersona" />
            </div>
            <br />

            <div class="form-group align-content-center">
                <strong>
                    <label asp-for="ide_id_documento" class="control-label"></label>
                </strong>
                <select asp-for="ide_id_documento" asp-items="@TipoDocSelect" class="form-control text-center"> </select>
                <span asp-validation-for="ide_id_documento" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group align-content-center">
                <strong>
                    <label asp-for="ide_numero" class="control-label"></label>
                </strong>
                <input type="number" asp-for="ide_numero" class="form-control text-center" name="ide_numero" />
                <span asp-validation-for="ide_numero" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group align-content-center">
                <strong>
                    <label asp-for="ide_fecha_emision" class="control-label"></label>
                </strong>
                <input asp-for="ide_fecha_emision" class="form-control text-center" />
                <span asp-validation-for="ide_fecha_emision" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group align-content-center">
                <strong>
                    <label asp-for="ide_fecha_vencimiento" class="control-label"></label>
                </strong>
                <input asp-for="ide_fecha_vencimiento" class="form-control text-center" />
                <span asp-validation-for="ide_fecha_vencimiento" class="text-danger"></span>
            </div>
            <br />

            <div class="p-2 shadow-2 rounded-3 mb-2" style="background-color: hsl(0, 0%, 94%);font-family:Helvetica;border-radius: 9px;">
                <h2 class="text-center text-primary"><strong>@ViewData["TitleCargaDocumentos"]</strong></h2>
            </div>
            <hr />
            <br />

            <div class="form-group">
                <strong>
                    <label asp-for="FotoDocumento" class="control-label"></label>
                </strong>
                <img style="border-radius:6px;width:100%" src="~/Add-Photos.png" width="300em" height="250em" id="ImgFoto1" />
                <input required asp-for="FotoDocumento" class="form-control mb-1" id="customFile" onchange="SelecImg1()" accept="image/*" />
                <span asp-validation-for="FotoDocumento" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <strong>
                    <label asp-for="FotoDocumento_LadoB" class="control-label"></label>
                </strong>
                <img style="border-radius:6px;width:100%" src="~/Add-Photos.png" width="300em" height="250em" id="ImgFoto2" />
                <input required asp-for="FotoDocumento_LadoB" class="form-control mb-1" id="customFile2" onchange="SelecImg2()" accept="image/*" />
                <span asp-validation-for="FotoDocumento_LadoB" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" onclick="return ValidarFormulario()" value="Guardar documento" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<br />
<br />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/generic.js"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        function SuccessDoc() {
            var frm = document.getElementById("frm");
            MostrarSuccessDoc().then(res => {
                if (res.value) {
                    frm.submit();
                    MostrarSuccessDoc();
                }
            })
        }

        $(document).ready(function() {
            $('.toast').toast('show');
        });

        $('.toast').toast(option)
    </script>

    <script>
        function ValidarFormulario() {
            if (document.getElementById("customFile").value == "") {
                swal("Error", "Por favor seleccione una imagen...", "error");
                return false;
            }
            else {
                SuccessDoc();
            }

        }

        function SelecImg1() {
            var archivo = document.getElementById("customFile").files[0];
            var reader = new FileReader();
            reader.onloadend = function() {
                document.getElementById("ImgFoto1").src = reader.result;
            }
            reader.readAsDataURL(archivo);
        }
        function SelecImg2() {
            var archivo = document.getElementById("customFile2").files[0];
            var reader = new FileReader();
            reader.onloadend = function() {
                document.getElementById("ImgFoto2").src = reader.result;
            }
            reader.readAsDataURL(archivo);
        }
    </script>
}
