@using Migrantes.Models.DTO
@model Migrantes.ViewModels.DocumentosViewModel

@{
    ViewData["Title"] = "Editar documento";
    ViewData["TitleCargaDocumentos"] = "Carga de archivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> TipoDocSelect = ViewBag.ListDoc;
    List<DocumentosPersonaDTO> DocumentosPersona = ViewBag.ListadoDocumentos;
    List<PersonaDTO> NombreDeLaPersona = ViewBag.NombresPersona;
}

@if (TempData["msjCompletarCampos"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="font-size:large;font-family:Helvetica">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg> &nbsp;@TempData["msjSinGuardar"]
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span arie-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="row align-self-center">
    <div class="col">
        <div>
            <a class="btn btn-outline-primary" asp-controller="Personas" asp-action="Personas">Regresar a la lista</a>
        </div>
    </div>
    <div class="col-auto justify-content-center">
        <div class="text-center" style="font-family:Helvetica;">
            <h2 class="text-primary"><strong>@ViewData["Title"]</strong></h2>
        </div>
    </div>
    <div class="col">
    </div>
</div>
<hr>

@foreach (var item in NombreDeLaPersona)
{
    <div class="align-content-left" id="TituloPer" data-bs-toggle="tooltip" data-bs-placement="top" title="Persona seleccionada">
        <center>
            <img src="~/persona.png" width="35" height="35" />
            <h3 class="text-center text-dark" style="font-size:20px;"><strong>@item.per_primer_nom @item.per_segundo_nom @item.per_primer_ape @item.per_segundo_ape</strong></h3>
        </center>
    </div>
    <br />
    <br />
 
}

<div class="row" style="font-family:Helvetica">
    <div style="text-align: center" class="col-md offset-sm-0">
        <form asp-action="EditarDocumento" asp-controller="Documentos" method="post" enctype="multipart/form-data" id="frm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.ide_id_persona" />
            <div class="form-group">
                <input type="hidden" asp-for="ide_codigo_id" class="form-control text-center" />
            </div>

            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="form-group">
                        <strong>
                            <label asp-for="ide_id_documento" class="control-label"></label>
                        </strong>
                        <select asp-for="ide_id_documento" asp-items="@TipoDocSelect" class="form-control text-center"> </select>
                        <span asp-validation-for="ide_id_documento" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <strong>
                            <label asp-for="ide_numero" class="control-label"></label>
                        </strong>
                        <input type="number" asp-for="ide_numero" class="form-control text-center" name="ide_numero" />
                        <span asp-validation-for="ide_numero" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <strong>
                            <label asp-for="ide_fecha_emision" class="control-label"></label>
                        </strong>
                        <input asp-for="ide_fecha_emision" class="form-control text-center" />
                        <span asp-validation-for="ide_fecha_emision" class="text-danger"></span>
                    </div>

                    <br />
                    <div class="form-group">
                        <strong>
                            <label asp-for="ide_fecha_vencimiento" class="control-label"></label>
                        </strong>
                        <input asp-for="ide_fecha_vencimiento" class="form-control text-center" />
                        <span asp-validation-for="ide_fecha_vencimiento" class="text-danger"></span>
                    </div>
                    <br />


                    <div class="p-2 shadow-2 rounded-3 mb-2" style="background-color: hsl(0, 0%, 94%);font-family:Helvetica;border-radius: 9px;">
                        <h2 class="text-center text-primary"><strong>@ViewData["TitleCargaDocumentos"]</strong></h2>
                    </div>
                    <hr />

                    <div class="form-group">
                        <strong>
                            <label asp-for="FotoDocumento" class="control-label"></label>
                        </strong>
                        <img style="border-radius:6px;width:100%" src="@Model.RutaImagenPortada_A" width="200" height="200" id="ImgFoto1" />
                        <br />
                        <input asp-for="FotoDocumento" class="form-control mb-1" id="customFile" onchange="SelecImg1()" accept="image/*" />

                    </div>

                    <br />
                    <div class="form-group">
                        <strong>
                            <label asp-for="FotoDocumento_LadoB" class="control-label"></label>
                        </strong>
                        <img style="border-radius:6px;width:100%" src="@Model.RutaImagenPortada_B" width="200" height="200" id="ImgFoto2" />
                        <br />
                        <input asp-for="FotoDocumento_LadoB" class="form-control mb-1" id="customFile2" onchange="SelecImg2()" accept="image/*" />

                    </div>

                </div>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" onclick="return ValidarFormulario()" value="Actualizar documento" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<br />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/generic.js"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        function SelecImg1() {
            var archivo = document.getElementById("customFile").files[0];
            var reader = new FileReader();
            reader.onloadend = function() {
                document.getElementById("ImgFoto1").src = reader.result;
            }
            reader.readAsDataURL(archivo);
        }

        function SelecImg2() {
            var archivo = document.getElementById("customFile2").files[0];
            var reader = new FileReader();
            reader.onloadend = function() {
                document.getElementById("ImgFoto2").src = reader.result;
            }
            reader.readAsDataURL(archivo);
        }


        $(document).ready(function() {
            $('.toast').toast('show');
        });

        $('.toast').toast(option)
    </script>
    <script>
        function ValidarFormulario() {
            if (document.getElementById("customFile").value == "") {
                swal("Error", "Elige una portada del documento", "error");
                return false;
            }
            if (document.getElementById("customFile2").value == "") {
                swal("Error", "Elige una contraportada del documento", "error");
                return false;
            }
            return true;
        }
    </script>
}